
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <div>
            Student Name:<input type="text" name="stdName" id="stdId" value=" " />
        </div>


}

